@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {font-size: 17px / 28px;}
body {
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  margin: 0;
  box-sizing: border-box;
}
*, *:before, *:after {box-sizing: inherit;}
.card {
  /** Dimensions from MOO Design: https://bit.ly/1P4kfoi **/
  width: 1102px;
  height: 642px;
  
  margin: 50px auto;
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
  overflow: hidden;
}

.card .container {
  width: 100%;
  padding: 9em 0 2em 4em;
  font-size: 1.75em;
  font-weight: 700;
  text-decoration: none;
  
}

/** Logo **/

.logo {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: block;
  width: 90%;
  padding: 0 0 0.45em;
  margin: 0.22em auto 0;
  font-size: 15.65em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.logo-name, .logo-letters {
  display: inline-block;
  width: 100%;
}

.logo-letters {
  background: #fff;
  color: #f36;
  padding-right 0.05em;
  letter-spacing: 11px;
  border: solid 0.12em currentcolor;
  border-bottom-width: 0;
  line-height: 1.56em;
}

.logo-name {
  position: absolute;
  bottom: 0; left: 0;
  padding: 0.25em 0;
  font-size: 0.235em;
  line-height: 1.5em;
  background: #f36;
  color: #fff;
}

/** Name Only **/
.logo-nameonly {
  display: block;
  text-align: center;
  font-size: 15em;
  padding: 0 0 0.1em;
  width: auto;
  line-height: 0.5em;
}
.logo-nameonly .logo-name {
  position: relative;
  padding: 0.25em 0;
}
